<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
    <select id="test" resultType="String" parameterType="com.spring.study.bean.Member">
        select #{id}
    </select>
    
    <select id="selectMemberById" resultType="com.spring.study.bean.Member" parameterType="com.spring.study.bean.Member">
    	select * from member where id=#{id}
    </select>
</mapper>